$btn-secondary-color: lighten(saturate(adjust-hue($secondary, 3), 12.01), 50.00);

// Buttons
@mixin btn-secondary {
  @include button-variant($secondary, $secondary);
  font-weight: bold;
  color: $dark;
}

// Navs
@mixin navlink {
  color: $gray;
  background-color: transparent;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

@mixin navlink-active {
  color: $primary;
  background-color: transparent;
  border-color: $primary;
}

// Images
@mixin img-fill {
  @extend .w-100;
  @extend .h-100;
}

// Comment
@mixin comment {
  @extend .d-flex;
  @extend .mb-3;

  .comment-avatar{
    @extend .avatar-sm;
    @extend .rounded-circle;
  }

  .comment-body{
    background-color: $secondary;
    font-size: $font-size-sm;
    @extend .py-2;
    @extend .px-3;
    @extend .ml-2;
    @extend .rounded-xxl;

    a{
      @extend .text-dark;
      @extend .font-weight-bold;
    }
  }
}


// Post
@mixin post {
  .post-author{
    @extend .d-flex;
    @extend .border-bottom;
    @extend .pb-2;
    .post-author-avatar{
      img{
        @extend .rounded-circle;
        @extend .avatar-sm;
        @extend .mx-2;
      }
    }
    .post-author-name{
      @extend .text-dark;
      @extend .font-weight-bold;
    }
  }
  .post-date{
    color: $gray;
    font-size: $font-size-sm;
    @extend .font-weight-bold;
  }


  .post-body{
    @extend .p-2;
    @extend .border-bottom;
  }

  .post-reactions{
    @extend .p-3;
    @extend .col-12;
    @extend .border-bottom;
    @extend .d-flex;
    @extend .justify-content-between;

    a{
      color: $gray;
    }
  }

  .post-actions{
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .text-center;
    @extend .py-2;

    > *{
      @extend .flex-fill;

      a{
        @extend .font-weight-bold;
        color: $gray;
      }
    }
  }

  .post-footer{
    @extend .border-top;
    @extend .mx-3;

    .post-comments{
      .comment{
        @include comment;
      }
    }
  }
}
